.HotelsMap {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 50% 50%;
  grid-template-areas: "locations-list map-with-marker";

  .map-with-marker {
    grid-area: map-with-marker;
  }
}
