@import url('https://fonts.googleapis.com/css?family=Solway&display=swap');

.Header {
  background-color: #039687;
  height: 125px;
  font-family: 'Solway', serif;
  font-size: 20px;
  display: flex;
  justify-content: center;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    li {
      color: white;

      span {
        font-weight: bold;
        font-size: 24px;
      }
    }
  }
}
